.blurb{
    /* margin-left: 10rem; */
  }

html{
  font-family: "Sten";
}

.container{
  margin: 9rem auto;
  max-width: 30rem;
}

.container-small{
  margin: 9rem auto;
  max-width: 25rem;
}

h1 {
  font-weight: normal;
  text-align: center;
  font-size: 64px;
  font-family: "Garamond";
}

.topol{
  font-family: "Topol" !important;
}

.subtitle{
  font-size: 22px;
}

.garamond{
  font-family: "Garamond" !important;
}

.blurb{
  text-align: center;
}
.links{
  margin: 0 auto;
  padding-top: 38px;
  display: flex;
  max-width: 90%;
  justify-content: center;
}

.link{
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

.link-center{
  justify-self: center;
  margin: 0 1rem;
}

.final-link{
  margin-left: 1rem;
}
